<div class="container"> 
<div class="container_1">
   <header> 
     <div>
       <a href="" class="btn_1">Menu&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
       <a href="" class="btn_2">Place your Marker</a>
       <img src ="assets/images/rsz_face.jpg" class="img_1">   
      
           <img src="assets/images/notifications-bell-button@2x.png" class="img_2">      
    
 <img src="assets/images/gear.png" class="_gear"> 
</div>
   </header>
  </div>
  <div class="container_2">    
    <div class="box">
    <img src="assets/images/261c48.png" class="img_3"> 
         <img src="assets/images/dtc_192.png" class="logo">  
         <img src="assets/images/map@2x.png" class="icon">
         <img src="assets/images/hexagon (1).png" class="icon_1">

 </div> 
 </div> 
<div class="container_3">  
  <div class="form">          
      <div class="mat-container"> 
          <h1 class="marker_1">

           Place your Marker
          </h1><br><br>
             <mat-form-field class="mat-container_1">
              <mat-label class="label_matinput">Latitude</mat-label>                        
              <input matInput  [(ngModel)]="lat" value="25.2048" >
            </mat-form-field><br><br><br>                 
            <mat-form-field class="mat-container_1">
              <mat-label class="label_matinput">Longitude</mat-label>                    
              <input matInput [(ngModel)]="lng" value="55.2708" >
            </mat-form-field>               
      <br> <br><br> <br><br> <br><br> <br>
      <button type="submit" (click)="markerPush();" class="btn">Place Marker</button>
  </div>  
</div> 


<div class="container_4">
  <div class="g_map">


    <ngui-map zoom="13" [center]="center" scrollwheel="false" (mapReady$)="onMapReady($event)" mapTypeId="ROADMAP">
      
      <marker *ngFor="let pos of positions" [position]="pos"></marker>
  </ngui-map>

   
  </div>
  </div>
</div> 
</div>
 